footer{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	background-color: #003366;
}
footer>a{
	margin: 15px;
	transition: border-color 1s, color 1s ;
}
footer>a:link{
	color: white;
}
footer>a:visited{
	color: white;
}
footer>a:hover{
	color: gold;
}